{{!-- Clear Button --}}
<button name="clear" type="button" id="clear" value="{{item_class}}||  {{this.dish_name}} {{this.dish_price}}">Clear All</button>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/cookie.js"></script>
<script>

        $("body").on("click", "button[name=clear]", function () {
        eraseCookie("orderList");
       location.reload() 
        });

</script>