
<form name="confirmOrder" method="POST" action="">
<button name="cfm" type="button" id="cfm" value="">Confirm Order</button>
</form>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="confirmOrderList"></p>
    </div>

</div>