<div class="jumbotron text-center"> 
    <h1>{{msg}}</h1>
    <h2>{{name}}</h2>

<a href="/auth/login"><button class="btn btn-light">Admin</button></a>
{{!-- <a class="btn btn-light" href="#" role="button">Admin</a> --}}
</div>