<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">


            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link" href="/">Starters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main">Mains</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dessert">Desserts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/drink">Drinks</a>
                </li>
            </ul>
        </div>
    </div>
</div>