
    <button name="add" type="button" id="add" value="{{this.dish_name}} {{this.dish_price}}">Add</button>
    <button name="subject" type="submit" id="delete" value="">Delete</button>

    <!--<a href="main"><button class="btn btn-warning btn-lg" id="subBtn"> Submit</button></a>-->

