{{> header}}

<!--</div> -->


<!-- CATEGORY NAV BAR -->
{{> navBar}}

{{!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            <br><br>
            <img src="/images/chicken-Merlot.jpg">
            <br><br><br><br>
            <img src="/images/med_penne.jpg">
            <br><br><br><br>
            <img src="/images/spaghetti_pompodor.jpg">
            <br><br><br><br>
            <img src="/images/Ravioli_spinach.jpg">
            <br><br><br><br>
            <img src="/images/lasagna.jpg">
            <br><br><br><br>
            <img src="/images/rav_marinara.jpg">
            <br><br><br><br>
            <img src="/images/spagehti_meat_balls.jpg">
            <br><br><br><br>
            <img src="/images/chicken_basil_tortelini.jpg">
            <br><br><br><br>
            <img src="/images/chick_alfredo.jpg">
        </div> --}}


<!-- IMAGES, NAME AND DESCRIPTION -->

<div class="col-md-4 text-center">
    <br><br>

    {{#each menuData}}
    {{#is this.item_class "Main"}}

    <img src="{{this.dish_img}}">

    <p>{{this.dish_name}}</p>
    <p>{{this.dish_desc}}</p>
    <p>{{this.dish_price}}</p>

    {{> order}}

    <br><br><br><br>

    {{/is}}
    {{/each}}
</div>


<!--Order list-->
<div class="col-md-4 text-center">
    <br><br><br><br>
    <p> Your Order </p>

    <p id="orderList"></p>

    {{> clearBtn}}
    <br><br>
    {{> confirmOrder}}

</div>



</div>
</div>




<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <p> Waiting time: </p>



        </div>
    </div>
</div>




{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/cookie.js"></script> --}}

{{!-- <script>
    $(document).ready(function () {
        // Show order list on each page //
        var x = getCookie("orderList");
        if (x != '') {
            $("#orderList").html(x.replace(/xxxx/g, "<br>"))
        };
    });

    // Add order button //
    $("body").on("click", "button[name=add]", function () {

        $("#orderList").append($(this).val())
        $("#orderList").append("<br/>")
        setCookie("orderList", $("#orderList").html(), 1)
    });

    // Delete order button //
    $("body").on("click", "button[name=delete]", function () {
        if ($("#orderList").html().length == 0 || getCookie("orderList").indexOf($(this).val()) == -1) {
            alert("Nothing to remove from the order")
        } else {
            $("#orderList").html(getCookie("orderList").replace($(this).val() + "<br>", ''))
            setCookie("orderList", $("#orderList").html(), 1)
        }
    })

</script> --}}